body {
    background-color:black;
    color:gray;
}

header, main, nav, footer {
    text-align: center;
}

nav a {   /* links within "nav" container */
    padding: 1em;
    padding-bottom:.5em;
    font-size: 1.8em;
    text-decoration: none;  /* removes underline */
    color: white;           /* by default, links are blue */
}

nav a.current {
    color: green;
}

nav a:hover {
    border-bottom:1.2em orange solid;
    font-size: 2em;
    transition: .9s;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    color: #BEEF42;
    font-size: smaller;
}

ol {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    display: flow-root;
    margin: 10px;
}

ol li {
    list-style-type: upper-roman;
    list-style-position: inside;
}

li::marker {
    font-weight: bold;
    color: #FF3372;
}

li span.lang {
    color: orange;
    font-weight: bold;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 320;
    font-style: normal;
    font-variation-settings: 
      "wdth" 100;
}

h1 {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

article {
    margin: 0px auto;
    padding: 20px;
    text-align: left;
    max-width: 800px;
}

article a {
    color: yellow;
}


div#content img {
    float:left;
    padding: 15px;
    max-width: 200px;
}


body img {
    border-radius: 15px; 
}

div.card, div.card_text {
    max-width: 200px;
    float: left;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 2px rgba(255, 0, 0, 0.3);
    padding: 15px;
    margin: 25px;
    border: white solid 1px;

}

div.card_text {
    max-width: 600px;
}

div.overview_text {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 3 equally-sized columns */
    justify-content: center;
    align-items: center;
}

div.overview {
    display: grid; /* Activates the grid layout context */
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equally-sized columns */
    gap: 20px;
}

div.box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 3rem;
}
