<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<style>
body {
  background-size: cover;
</style>
<body class="container text-align-center">
    <h1 class="header_h1 text-center">Computer Languages</h1>
    <%- include('partials/nav.ejs') %>
    <%- include('partials/footer.ejs') %>
</body>
</html>

