<div class="container">
<nav class="row">
  <div class="m-2 p-2 card col text-center">  <a href="/"> Home </a> </div>
  <div class="m-2 p-2 card col text-center">  <a href="/nasa"> Nasa APOD </a> </div>
</nav>
<nav class="row">
  <div id="Mercury" class="m-2 p-2 card col text-center">  <a href="/planet?planetName=Mercury"> Mercury </a></div>
  <div id="Venus" class="m-2 p-2 card col text-center">  <a href="/planet?planetName=Venus"> Venus </a></div>
  <div id="Earth" class="m-2 p-2 card col text-center">  <a href="/planet?planetName=Earth"> Earth </a></div>
  <div id="Mars" class="m-2 p-2 card col text-center">  <a href="/planet?planetName=Mars"> Mars </a></div>
</nav>
<nav class="row">
  <div id="Jupiter" class="m-2 p-2 card col text-center">  <a href="/planet?planetName=Jupiter"> Jupiter </a></div>
  <div id="Saturn" class="m-2 p-2 card col text-center">  <a href="/planet?planetName=Saturn"> Saturn </a></div>
  <div id="Uranus" class="m-2 p-2 card col text-center">  <a href="/planet?planetName=Uranus"> Uranus </a></div>
  <div id="Neptune" class="m-2 p-2 card col text-center">  <a href="/planet?planetName=Neptune"> Neptune </a></div>
  <div id="Pluto" class="m-2 p-2 card col text-center">  <a href="/planet?planetName=Pluto"> Pluto </a></div>
</nav>
</div>
