<div class="container">
<nav class="row">
  <div class="m-2 p-2 card col text-center">  <a href="/"> Home </a> </div>
</nav>
<nav class="row">
  <div id="langrow" class="m-2 p-2 col col-2 text-end"> <h5>Info:</h5></div>
  <div id="c" class="m-2 p-2 card col text-center">  <a href="/c"> C </a></div>
  <div id="js" class="m-2 p-2 card col text-center">  <a href="/js"> JavaScript </a></div>
  <div id="rust" class="m-2 p-2 card col text-center">  <a href="/rust"> Rust </a></div>
</nav>
<nav class="row">
  <div id="hwrow" class="m-2 p-2 col-2 text-end"><h5>Hello World in:</h5> </div>
  <div id="c_hw" class="m-2 p-2 card col text-center">  <a href="/helloWorld?lang=c"> C </a></div>
  <div id="js_hw" class="m-2 p-2 card col text-center">  <a href="/helloWorld?lang=js"> JavaScript </a></div>
  <div id="rust_hw" class="m-2 p-2 card col text-center">  <a href="/helloWorld?lang=rust"> Rust </a></div>
</div>
